.container{
  height: 100vh;
  padding: 20px;
  background-color: aquamarine;
}


.number-bar, .timer-bar, .result-bar{
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.number-bar span, .timer-bar div, .result span{
  font-size: 4rem;
  font-weight: bold;
  margin: 0 20px;
}
